@import './base.css';
@import 'tailwindcss';

@theme {
  /* custom Font-size and line-height */
  --text-xx: 0.688rem; /* 11px */
  --text-xx--line-height: 1rem;
  --text-x: 0.75rem; /* 12px */
  --text-x--line-height: 1rem;
  --text-small: 0.813rem; /* 13px */
  --text-small--line-height: 1.125rem;
  --text-default: 0.875rem; /* 14px */
  --text-default--line-height: 1.25rem;
  --text-base: 1rem; /* 16px */
  --text-base--line-height: 1.5rem;
  --text-heading-3: 1.125rem; /* 18px */
  --text-heading-3--line-height: 1.625rem;
  --text-heading-2: 1.5rem; /* 24px */
  --text-heading-2--line-height: 2rem;
  --text-heading-1: 2rem; /* 32px */
  --text-heading-1--line-height: 2.375rem;
  /* font-family  */
  --font-roboto: var(--theme-font-family); /* Roboto */

  /* custom color */
  --color-primary: var(--primary-color);
  --color-primary-hover: var(--primary-hover-color);
  --color-primary-active: var(--primary-active-color);

  --color-secondary: var(--secondary-color);
  --color-secondary-hover: var(--secondary-hover-color);
  --color-secondary-active: var(--secondary-active-color);

  --color-error: var(--error-color);
  --color-error-hover: var(--error-hover-color);
  --color-error-active: var(--error-active-color);

  --color-default-color: var(--default-color);
  --color-default-hover: var(--default-hover-color);
  --color-default-active: var(--default-active-color);

  --color-error-bg: var(--error-bg-color);
  --color-success: var(--success-color);
  --color-success-bg: var(--success-bg-color);
  --color-gray-100: var(--grayscale-100);
  --color-gray-200: var(--grayscale-200);
  --color-gray-300: var(--grayscale-300);
  --color-gray-400: var(--grayscale-400);
  --color-gray-500: var(--grayscale-500);
  --color-gray-600: var(--grayscale-600);
  --color-gray-700: var(--grayscale-700);
  --color-gray-800: var(--grayscale-800);
  --color-gray-900: var(--grayscale-900);
  --color-gray-110: var(--grayscale-110);

  /* space  */

  --spacing-none: 0px; /* 0px */
  --spacing-s: 5px; /* small */
  --spacing-m: 10px; /* medium */
  --spacing-default: 15px; /* default */
  --spacing-l: 20px; /* large */
  --spacing-xxl: 30px; /* extra extra large */
}
